body{
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
}
.header{
    background-image: url(photo-1455267847942-f4fdb784f0c5.avif);
    height: 400px;
    background-position: center center;
}.roasting{
    margin: 40px auto;
    padding: 20px 30px 40px 30px;
    background-color: #FFFFFF;
    overflow: auto;
    width: 75%;
    border-radius: 4px;
    align-self: center;
}
.roasting p{
    color: black;
    text-align: center;
    line-height: 24px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 450;
}
.spectrum div {
    font: inherit;
    padding: 0 20px;
    color: #FFFFFF;
    overflow: auto;
    opacity: 0.9;
}
.spectrum p{
    text-align: left;
    color: #FFFFFF;
}
.green{
    background-color: #9EB599;
}
.light{
    background-color: #683C2C;
}
.city{
    background-color: #4C352D;
}
.vienna{
    background-color: #352926;
}
.italian{
    background-color: #141212;
}
h1{
    color: #41292C;
    font-family: 'Covered By Your GRace',sans-serif;
    font-size: 100px;
    line-height: 76px;
    margin: 0;
    position: relative;
    text-align: center;
    top: 20%;
}
h2{
    color: #e4BB97;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
}
h3{
    font-family: 'Raleway', sans-serif;
    color: #41292C;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}
h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: .2em;
}
h5{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    line-height: .2em;
    font-size: 20px;
}
ul {
    margin: 0 auto;
    padding: 0;
    width: 75%;
}
li {
    border-bottom: 1px solid #E4BB97;
    list-style: none;
    margin: 100px 0px;
    padding-bottom: 60px;
}
p {
    font-family: 'Raleway',sans-serif;
    color: black;
    font-size: 20px;
    font-weight: 50px;
    line-height: 32px;
}
a{
    color: #214E34;
    font-family: 'Raleway',sans-serif;
    font-size: 13px;
    text-align: left;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 900;
    text-transform: uppercase;
}